{% for command in sudo_user_user_permissions.allowed_commands if sudo_user_user_permissions is defined and sudo_user_user_permissions.allowed_commands|length > 0 %}
{{ sudo_user_username }} ALL=(ALL) NOPASSWD: {{ command }}
{% else %}
{{ sudo_user_username }} ALL=(ALL) NOPASSWD:ALL
{% endfor %}