{% for command in permissions.allowed_commands if permissions is defined and permissions.allowed_commands|length > 0 %}
{{ username }} ALL=({{ permissions.become_user }}) NOPASSWD: {{ command }}
{% else %}
{{ username }} ALL=(ALL) NOPASSWD:ALL
{% endfor %}